* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
}
.container {
  margin: 0 auto;
  position: relative;
  width: 1280px;
  min-height: 100%;
}
.wrapper {
  min-height: 100%;
  padding-bottom: 76px;
}
.main {
  padding: 43px 0 28px;
  border: 1px solid #dadada;
  border-top-width: 2px;
  border-top-color: #518e6a;
  background-color: #fff;
}
.title {
  margin: 0 0 34px 45px;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
}
.search {
  margin-left: 45px;
  margin-bottom: 39px;
}
.search__input {
  margin-right: 10px;
  width: 285px;
  height: 42px;
  padding-left: 10px;
  border: 1px solid #cecece;
  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
  color: #a0a0a0;
}
.search__btn {
  margin-right: 15px;
  width: 152px;
  height: 42px;
  border: none;
  background-color: #518e6a;
  border: 1px solid #518e6a;
  border-radius: 1px;
  font-size: inherit;
  line-height: 25px;
  color: #fff;
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: #3072c4;
}

/* TABLE */
.table {
  width: 100%;
  text-align: left;
  border-spacing: 0 2px;
  line-height: 25px;
}
.table th {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 900;
}
.table td {
  padding: 5px 0 2px;
}
.table td:first-child,
.table th:first-child {
  padding-left: 45px;
}
.table td:last-child {
  padding-right: 48px;
}
.table__link {
  text-decoration: none;
  color: inherit;
}
.table__row:hover {
  background-color: #f2f2f2;
  color: #3072c4;
  cursor: pointer;
}
.empty-row {
  height: 4px;
}

/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #a1a1a1;
  line-height: 20px;
}
.footer__logo {
  margin-right: 8px;
  float: left;
}
.footer__logo-text {
  min-width: 200px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.37);
}
.footer__text {
  display: inline-block;
  margin-top: 6px;
  font-size: 14px;
}
.w-black {
  font-weight: 900;
}

/* POP-UP */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.6);
  opacity:  0;
  visibility: hidden;
}
.modal-container:target {
  opacity: 1;
  visibility: visible;
}
.modal-container .modal {
  z-index: 1;
  width: 500px;
  height: 644px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

  opacity: 0;
  transform: translateY(-2rem);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0.2s;
}
.modal-container:target .modal {
  opacity: 1;
  transform: translateY(0);
}
.modal__content {
  padding: 25px 35px 15px 30px;
}
.title-group {
  margin-bottom: 30px;
}
.modal__title {
  margin: 0;
  display: inline-block;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #333;
}
.close-link {
  float: right;
  line-height: 30px;
}
.close-link img {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}

.form {
  color: #000;
  line-height: 25px;
}
.form__row {
  margin-bottom: 20px;
}
.form__label {
  display: inline-block;
  width: 163px;
}
.form__input {
  width: 268px;
  height: 38px;
  padding-left: 10px;
  border: 1px solid #cecece;
  font-size: inherit;
  color: inherit;
}
.form__input--small {
  width: 130px;
}
.modal__footer {
  padding: 21px 30px;
  background-color: #e9e9e9;
}
.modal__search-btn {
  margin-right: 10px;
  width: 150px;
  height: 38px;
  background-color: #518e6a;
  border: 1px solid #518e6a;
  border-radius: 1px;
  line-height: 20px;
  font-size: inherit;
  color: #fff;
  cursor: pointer;
}
.modal__cancel-btn {
  width: 110px;
  height: 38px;
  background-color: #fff;
  line-height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  font-size: inherit;
  color: #333;
  cursor: pointer;
}
.modal__link {
  text-decoration: none;
  color: inherit;
}
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.6);
}